@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif !important;
	background-image: url("../img/background2.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h2, h3, h4 {
	margin: 0;
	text-align: center;
	font-size: 54px;
	font-weight: 200;
	color: #72349A;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 21px;
	text-align: left;
}

p, li {
	font-weight: 200;
	color: #505050;
}

a {
	color: #72349A;
}

/* -----Menu----- */

.c-hamburger {
		display: block;
		position: fixed;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 96px;
		height: 96px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;
		z-index: 5;
	}

.c-hamburger:focus {
	outline: none;
}

.c-hamburger span {
	display: block;
	position: absolute;
	top: 44px;
	left: 18px;
	right: 18px;
	height: 8px;
	background: white;
}

.c-hamburger span::before, .c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #fff;
	content: "";
}

.c-hamburger span::before {
	top: -20px;
}

.c-hamburger span::after {
	bottom: -20px;
}

.c-hamburger--htx {
  background-color: black;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

#freeze {
	z-index: 3;
	visibility: hidden;
	opacity: 0.9;
	top: 0;
	left: 0;
	background-color: black;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

#mobile-links {
	z-index: 3;
	position: fixed;
	width: 50%;
	top: 50%;
	left: 25%;
	transform: translateY(-50%);
}

.mobile-link {
	margin: 0;
	margin-bottom: 50px;
	font-size: 2.5em;
	text-align: center;
	color: white
}

.mobile-link a {
	color: white;
	text-decoration: none;
}

.mobile-link a:hover {
	color: #72349A;
}

/* -----Menu End----- */

.narrow {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

.wide {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgba(114,52,154,0.08);
}

.sub {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #727878;
}

.section-end {
	margin-bottom: 40px;
}

.icon {
	width: 32px;
	height: 32px;
	margin-right: 25px;
	float: left;
	display: inline-block;
}

.button0 {
	width: fit-content;
	margin: 20px auto auto auto;
	padding: 7px;
	border-radius: 5px;
	background-color: rgba(114,52,154,0.8);
	
	text-decoration: none;
	color: white;
}

.button {
	margin-top: 10px;
	padding: 6px 12px;
	display: inline-block;
	border: 1px solid rgba(114,52,154,1);
	border-radius: 7px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgba(114,52,154,0.8);
	
	margin-left: 50%;
	transform: translateX(-50%);
}

.button:hover {
	background-color: rgba(114,52,154,0.7);
}

#overlay-text, .profile-bottom img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(114,52,154,0.1);
}

#overlay-text {
	width: 100%;
	text-align: center;
}

#overlay-text h1 {
	width: 60%;
	margin: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
	font-size: 5em;
	color: white;
}

#overlay-text p {
	font-size: 2em;
	color: white;
}

#content {
	width: 100%;
	height: auto;
	background-color: rgb(241,241,241);
}

#profile-top {
	width: 100%;
	
	/* background-color: yellow; */
}

#profile-bottom {
	width: 100%;
	margin-top: 50px;
	height: 400px;
	
	/* background-color: green; */
}

#profile-about {
	width: 100%;
	
	/* background-color: pink; */
}

#grades {
	width: 100%;
}

#skills img, #fyp img {
	width: 100%;
}

#fyp {
	padding-bottom: 30px;
}

#fyp img {
	border: 3px solid #72349A;
	border-radius: 10px;
}

#contact {
	margin-top: 0;
	/*background-color: #72349A;*/
	background-color: rgba(114,52,154,0.1);
}

#contact h2, #contact p, #contact a {
	color: white;
}

#contact .sub {
	border-bottom-color: white;
}

#contact-left, #contact-right {
	width: 49.5%;
	display: inline-block;
	text-align: center;
}

#contact-left p, #contact-right p {
	width: fit-content;
	margin: auto;
	margin-bottom: 40px;
	line-height: 32px;
}

.profile-bottom {
	width: 49.5%;
	height: 100%;
}

.profile-bottom img {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid rgba(114,52,154,0.2);
	border-radius: 20px;
}

.profile-bottom ul {
	padding: 0;
}

.profile-bottom ul li {
	list-style: none;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.grades {
	width: 49%;
	height: auto;
	margin-bottom: 40px;
}

.grades-table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #72349A;
	border-collapse: collapse;
	border-radius: 50px;
}

.grades-table th, .grades-table td {
	padding: 5px;
	border: 1px solid #72349A;
	border-collapse: collapse;
	text-align: center;
}

.grades-table th {
	background-color: #72349A;
	color: white;
}

.grades-table tr:hover {
	background-color: rgba(114,52,154,0.4);
}

.ed-row {
	padding: 20px 0;
	border-bottom: 1px solid #C7C7C7;
}

.ed-col {
	width: 31%;
	padding: 0 1%;
	display: inline-block;
	vertical-align: top;
}

.ed-col p {
	margin-top: 0;
}

.key-projects {
	padding: 0;
	margin: 0;
	list-style: none;
}

.key-projects li {
	margin-bottom: 16px;
}

@media screen and (max-width : 1250px) {

	.narrow {
		width: 80%;
	}
	
	.ed-col {
		width: 47.5%;
	}

	.ed-col:first-child {
		width: 100%;
		margin-bottom: 20px;
		display: block;
	}
	
	.c-hamburger {
		width: 48px;
		height: 48px;
	}
	
	.c-hamburger span {
		top: 22px;
		left: 9px;
		right: 9px;
	}
	
	.c-hamburger span, .c-hamburger span::before, .c-hamburger span::after {
		height: 4px;
	}
	
	.c-hamburger span::before {
		top: -10px;
	}
	
	.c-hamburger span::after {
		bottom: -10px;
	}
}

@media screen and (max-width : 920px) {

	#profile-bottom {
		height: auto;
		margin-top: 0;
	}

	.profile-bottom {
		width: 100%;
		height: auto;
		text-align: center;
	}
	
	.profile-bottom img {
		width: 40%;
		transform: none;
	}
	
	.profile-bottom ul li {
		font-size: 1.1em;
	}

	.ed-col {
		width: 100%;
		display: block;
	}
	
	#overlay-text h1 {
		width: 90%;
		font-size: 4em;
	}
	
	#overlay-text p {
		font-size: 1.5em;
	}
	
	#contact-left, #contact-right {
		width: 100%;
	}
}

@media screen and (max-width : 750px) {

	body {
		background-image: none;
	}
	
	#overlay, #contact {
		background-image: url("../img/background_mobile.jpg");
		background-size: cover;
	}
	
	.mobile-link {
		font-size: 1.5em;
	}

	.narrow, .wide {
		width: 90%;
	}
	
	.wide {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.c-hamburger {
		width: 36px;
		height: 36px;
	}
	
	.c-hamburger span {
		top: 16.5px;
		left: 6.75px;
		right: 6.75px;
	}
	
	.c-hamburger span, .c-hamburger span::before, .c-hamburger span::after {
		height: 3px;
	}
	
	.c-hamburger span::before {
		top: -7.5px;
	}
	
	.c-hamburger span::after {
		bottom: -7.5px;
	}
}
