@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
	background-image: url("../img/background2.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h2, h3, h4 {
	margin: 0;
	text-align: center;
	font-size: 54px;
	font-weight: 200;
	color: #72349A;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 21px;
}

p, li {
	font-weight: 200;
	color: #707070;
}

/* -----Menu----- */

.c-hamburger {
		display: block;
		position: fixed;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 96px;
		height: 96px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;
		z-index: 5;
	}

.c-hamburger:focus {
	outline: none;
}

.c-hamburger span {
	display: block;
	position: absolute;
	top: 44px;
	left: 18px;
	right: 18px;
	height: 8px;
	background: white;
}

.c-hamburger span::before, .c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #fff;
	content: "";
}

.c-hamburger span::before {
	top: -20px;
}

.c-hamburger span::after {
	bottom: -20px;
}

.c-hamburger--htx {
  background-color: black;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

#freeze {
	z-index: 3;
	visibility: hidden;
	opacity: 0.9;
	top: 0;
	left: 0;
	background-color: black;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

#mobile-links {
	z-index: 3;
	position: fixed;
	width: 50%;
	top: 50%;
	left: 25%;
	transform: translateY(-50%);
}

.mobile-link {
	margin: 0;
	margin-bottom: 50px;
	font-size: 3em;
	text-align: center;
	color: white
}

.mobile-link a {
	color: white;
	text-decoration: none;
}

.mobile-link a:hover {
	color: #72349A;
}

/* -----Menu End----- */

.sub {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #727878;
}

#overlay-text, .profile-bottom img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(114,52,154,0.4);
}

#overlay-text {
	width: 100%;
	text-align: center;
}

#overlay-text h1 {
	width: 60%;
	margin: auto;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
	font-size: 5em;
	color: white;
}

#overlay-text p {
	font-size: 2em;
	color: white;
}

#content {
	width: 100%;
	background-color: #ECF0F1;
	height: auto;
}

#profile {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	
	/* background-color: red; */
}

#profile-top {
	width: 100%;
	
	/* background-color: yellow; */
}

#profile-bottom {
	width: 100%;
	margin-top: 50px;
	height: 400px;
	
	
	/* background-color: green; */
}

#profile-about {
	width: 100%;
	
	/* background-color: pink; */
}

#education {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgba(114,52,154,0.1);
}

#grades {
	width: 100%;
}

.profile-bottom {
	width: 49%;
	height: 100%;
	
	
	/* background-color: blue; */
}

.profile-bottom img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 200px;
}

.profile-bottom ul li {
	list-style: none;
	font-size: 1.5em;
	margin-bottom: 25px;
}

.grades {
	width: 49%;
	height: auto;
	margin-bottom: 40px;
}

.grades-table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #72349A;
	border-collapse: collapse;
	border-radius: 50px;
}

.grades-table th, .grades-table td {
	padding: 5px;
	border: 1px solid #72349A;
	border-collapse: collapse;
	text-align: center;
}

.grades-table th {
	background-color: #72349A;
	color: white;
}

.grades-table tr:hover {
	background-color: rgba(114,52,154,0.4);
}

@media screen and (max-width : 1220px) {
	#overlay-text {
		
	}
	
	#overlay-text h1 {
		font-size: 6.5em;
	}
	
	#overlay-text p {
		font-size: 3.5em;
	}
	
	#profile {
		width: 80%;
	}
}